.MenuItem{
    border: 1px var(--green-color) solid;
    width: 9%;
    margin: 2.5% 0;
    list-style: none;
    background-color: var(--green-color);
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagSmall{
    display: none;
    text-align: center;
    position:absolute;
    background-color: var(--grey-color);
    top: -18%;
    color: #fff;
    border-radius: 8px;
    width: 90%;
    padding: 5%;
    z-index: -1;
}
.tagBig{
    display: none;
    text-align: center;
    position:absolute;
    top:-18%;
    background-color: var(--grey-color);
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    width: 90%;
    padding: 5%;
    z-index: -1;
}
.Selected span,.MenuItem:hover span{
    display: block;
}
.NoSelected:hover .tagSmall, .tagBig{
    top: -20%;
}
.NoSelected:hover{
    width: 12.5%;
    margin: 1.25% 0;
}
.NoSelected .ImageContainer{
    padding: 10% 0;
}
.Selected{
    width: 15%;
    margin: 0;
}
.Selected svg{
    width: 80%;
}
.ImageContainer{
    display: flex;
    justify-content: center;
}
.ImageContainer img{
    width: 70%;
}
@media screen and (max-width:700px) {
    .tagSmall,.tagBig{
        display: none;
    }
    .Selected span,.MenuItem:hover span{
        display: none;
    }
}