.SMS{
    display: flex;
    flex-direction: column;
}
.SMS .secondSection{
    padding: 5% 0;
    align-items: center;
}
.SMS .secondSection img{
    width: 100%;
}
.SMS .secondSection::after {
    content: '';
    display: block;
    background-color: var(--purple-color);
    width: 100%;
    height: 30px;
    border-radius: 0 0 100px 100px;
}
.SMS .secondSection::before{
    content: '';
    display: block;
    background-color: var(--green-color);
    width: 100%;
    height: 30px;
    border-radius:100px 100px 0 0;
}
.SMS .textSection{
    display: inherit;
    margin: 5% 0;
}
.SMS .Text{
    width: 45%;
}
.SMS .Text :where(h2,ul){
    margin: 5%;
}
.SMS .Text li{
    font-size: 20px;
}
.SMS form{
    display: inherit;
    flex-direction: column;
    width: 70%;
}
.SMS form *{
    margin: 1.5% 0;
    min-height: 40px;
    padding: 1%;
}
@media screen and (max-width: 700px){
    .SMS .Text {
      width: 100%;
    }
    .SMS .Text li{
        font-size: 15px;
    }
}