.GraphicDesign{
    display: flex;
    flex-direction: column; 
}
.imageSection{
    display: inherit;
    justify-content: space-around;
    align-items: center;
}
.imageSection :where(img){
    width: 30%;
}
.reverse{
    flex-direction: row-reverse;
}
.subtitle{
    align-self: center;
    background-color: var(--blue-color);
    box-shadow: var(--box-shadow);
    padding: 1% 2.5%;
    color: #ffff;
    border-radius: 5px;
    text-align: center;
}
@media screen and (max-width:700px) {
    .imageSection :where(img){
        width: 70%;
    }
    
    .reverse, .imageSection {
        flex-direction: column;
      }
      
      .WebDesing .subDescription {
        width: 100%;
      }
      
}