.NoSelectedPage{
    display: none;
}
.HandlePages{
    display: flex;
    justify-content: center;
}
.Pages{
    width: 85%;
    margin-top: 2.5%;
    padding: 5%;
    background-color: #fff;
    min-height: 60vh;
    border-radius: 10px;
}
.titlePage{
    margin: 1.25% 0;
}
.Pages p{
    margin: 1.25% 0;
}
.SelectedPage{
    animation-name: SelectedAnimation;
    animation-duration: 0.5s;
}
@keyframes SelectedAnimation {
    0%{
        margin-top: 100vh;
    }
    100%{
        margin-top: 2.5%;
    }
}