.NoSelectedPage{
    display: none;
}
.HandlePages{
    display: flex;
    justify-content: center;
}
.Pages{
    width: 85%;
    margin-top: 2.5%;
    padding: 2.5%;
    background-color: #fff;
    min-height: 60vh;
    border:#000 solid 1px;
    border-radius: 10px;
}
.titlePage{
    margin: 2.5% 0;
}
.SelectedPage{
    animation-name: SelectedAnimation;
    animation-duration: 0.3s;
}
@keyframes SelectedAnimation {
    0%{
        margin-top: 100%;
    }
    100%{
        margin-top: 2.5%;
    }
}