*{
 margin: 0;
 padding: 0;   
}
:root{
    --purple-color:#5250a4;
    --blue-color:#3fa3ef;
    --greenDark-color:#52ae46;
    --green-color:#00F433;
    --grey-color:#757575;
    --box-shadow:10px 10px 5px lightblue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blue-color);
}
.container{
    padding: 2.5%;
    margin-top: 2.5%;
}
p{
    font-size: 30px;
}
h1{
    font-size: 50px;
    align-self: flex-start;
}
h2{
    font-size: 40px;
}