*{
 margin: 0;
 padding: 0;   
}
:root{
    --purple-color:#5250a4;
    --blue-color:#3fa3ef;
    --greenDark-color:#52ae46;
    --green-color:#00F433;
    --grey-color:#757575;
    --box-shadow:10px 10px 5px lightblue;
    --max-screen:700px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blue-color);
}
.container{
    padding: 2.5%;
    margin-top: 2.5%;
}
p{
    font-size: 20px;
}
h1{
    font-size: 40px;
    align-self: flex-start;
}
h2{
    font-size: 30px;
}
.Layout{
    position: relative;
}

/* Responsive */

@media screen and (max-width: 700px) {
    .MenuList {
        min-height: 0;
    }
    
    .Home .description {
        width: 100%; 
    }
    
    .Home .firtSecction {
        flex-direction: column;
    }
    
    h1 {
        font-size: 30px;
    }
    
    p {
        font-size: 15px;
    }
    
    .Home .secondSecction {
        flex-direction: column;
    }
    
    .Home .subDescription {
        width: 100%;
    }
    
    .firstSection {
        flex-direction: column;
    }
    
    .WebDesing .description {
        width: 100%;
    }
    
    .description {
        width: 100%; 
    }
    
    .reverse {
        flex-direction: column;
    }
    
    .WebDesing .subDescription {
        width: 100%;
    }
    
    .imageSection {
        flex-direction: column;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .firstSecction {
        flex-direction: column;
    }
    
    .Prints .secondSection::before {
        display: none;
    }
    
    .Prints .secondSection::after {
        display: none;
    }
    
    .ImgDescription {
        width: 40%;
    }
    
    .ImageDescription {
        width: 40%;
    }
    
    .Photographs .subDescription {
        width: 100%;
    }
    
    .SMS .textSection {
        flex-direction: column;
    }
    
    .SMS .Text {
        width: 100%;
    }
    .Layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}