.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color);
    color: #fff;
    padding: 1% 0;
}
.Header h1{
    align-self: center;
    font-size: 35px;
}