.WebDesing{
    display: flex;
    flex-direction: column; 
}
.WebDesing .subDescription p{
    margin: 5% 0;
}
.WebDesing .subDescription{
    width: 35%;
}

@media screen and (max-width: 700px) {
    .imageSection :where(img){
        width: 70%;
    }
    
    .reverse, .imageSection {
        flex-direction: column;
      }
      
      .WebDesing .subDescription {
        width: 100%;
      }
    .subtitle {
        width: 80%;
        margin: 5% 0;
    }
    .WebDesing .subDescription {
        width: 100%;
        display: inherit;
        flex-direction: column;
      }
}